.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  &__item {
    margin-right: auto;
    margin-bottom: 10px;
  }

  &__label {
    color: $white;
    font-size: calc(8px + 1vmin);
    padding-right: 7px;
  }
}
